.layout {
  &--orange {
    background-color: rgba(242, 105, 49, 1);
    box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.1);
    transition: "background .9s ease";
    z-index: 1000;
    padding: 10px 30px;
  }
  &__img {
    height: 35px;
    margin-top: 3px;
    cursor: pointer;
    @include for-size(tablet) {
      height: 30px;
    }
    @include for-size(phone) {
      height: 20px;
      margin: 0;
    }
  }

  &__button {
    border-radius: 35px;
    padding: 10px 50px;
    margin-left: 20px;
    border: white solid 2px;
    background: none;
    color: white;
    font-weight: 700;
  }
  &__button:hover {
    background: rgba(255, 166, 0, 0.486);
  }
}

.header {
  padding: 10px 30px;
}

.image-navbar {
  margin-right: 10px;
  width: 35px;
  height: 4vh;
  border-radius: 50%;
  object-fit: cover;
}

.nav-span {
  color: white;
  margin-right: 20px;
}

.nav-span:hover {
  color: rgb(136, 135, 135);
  cursor: pointer;
}
