// .button-bookmark-video {
//   background-color: orange;
//   border: 1px solid;
//   border-radius: 5px;
//   color: white;
// }
// .button-bookmark-video:hover {
//   background-color: #ef8d32;
// }

.bookmark {
  background-image: url("../../assets/img/about/fav-background.jpg");
  background-size: cover;
  height: 120vh;
  &__head {
    > h3 {
      color: white;
      background-color: rgba($color: black, $alpha: 0.5);
      width: 40%;
      border-radius: 5px;
      margin: auto;
      text-align: center;
      height: 15vh;
    }
    &__text {
      background-color: rgba($color: white, $alpha: 0.9);
      width: 50%;
      margin: 40px auto;
      text-align: center;
      border-radius: 10px;
      > h2 {
        background-color: rgba($color: tomato, $alpha: 0.9);
        width: 40%;
        border-radius: 5px;
      }
    }
    &__container {
      background-color: rgba($color: black, $alpha: 0.35);
      height: 100vh;
      &__video {
        display: flex;
        justify-content: space-between;
        margin: 15px;
        border-bottom: 2px solid wheat;
        padding-bottom: 10px;

        &__title {
          color: white;
          cursor: pointer;
          > h5:hover {
            font-size: 20.5px;
            transition: all 500ms;
          }
        }
      }
    }

    > h1,
    h2 {
      margin: 30px auto;
      text-align: center;
      font-size: 25px;
    }
    // &__container {
    //   margin: auto;
    //   display: flex;
    //   justify-content: center;
    //   flex-wrap: wrap;
    //   &__video {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-around;
    //     flex-direction: column;
    //     align-items: center;
    //     border: 1px grey solid;
    //     border-radius: 5px;
    //     margin: 20px;
    //     height: 30vh;
    //     width: 20%;
    //     background-color: #fb743e;
    //     // > i {
    //     //   background-color: red;
    //     // }
    //     // > i:hover {
    //     //   cursor: pointer;
    //     // }
    //     > h4 {
    //       text-align: center;
    //       text-transform: uppercase;
    //     }
    //   }
    // }
  }
}
