.profile {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 62%);
  background-color: grey;
  height: 60vh;
  padding: 100px;
  display: flex;
  &__name {
    display: flex;
    margin: 0 auto;
  }
  &__picture {
    margin-right: 31px;
    position: relative;
    right: 20px;
    clip-path: polygon(32% 0%, 84% 15%, 100% 59%, 73% 100%, 18% 89%, 0% 42%);
    > img {
      width: 160px;
    }
  }
  &__container {
    display: flex;
    // align-items: center;
  }
  &__bio h2 {
    font-weight: 700;
  }
  &__bio p {
    font-weight: 500;
    width: 250px;
  }

  &__data {
    display: flex;
    flex-direction: row;
  }
  &__data li {
    margin: 10px;
    text-align: center;
  }
  &__level {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
    margin: auto;
    background-color: #ddd;
  }
  &__percent {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  &__progress {
    display: flex;
    flex-direction: row;
  }
}

.edit {
  display: flex;
  flex-direction: row;
  margin: 50px 150px;
  &__list ul {
    padding: 0;
  }
  &__list li {
    padding: 10px 30px;
  }
  &__grid {
    background-color: #e2e2e2;
    border-radius: 4px;
    margin-left: 50px;
    padding: 20px;
    width: 800px;

    // -webkit-box-shadow: 1px 1px 14px 1px #000000;
    // box-shadow: 1px 1px 14px 1px #000000;
    &__one {
      border-bottom: 1px solid grey;
    }
    &__two {
      display: grid;
      grid-template-columns: 1.5fr 2fr 2fr;
      border-bottom: 1px solid grey;
      padding: 15px;
      > div {
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-small-24);
        width: 70%;
      }
    }
    &__three {
      display: grid;
      grid-template-columns: 1.5fr 2fr 2fr;
      padding: 15px;
      &__label {
        padding-left: 10px;
      }
    }
    &__four {
      margin-top: 20px;
    }
    &__five {
      display: grid;
      grid-template-columns: 5.3fr 2fr 2fr;
      padding: 15px;
      margin-top: 10px;
      &__text {
      border: none;
      background: transparent;
      border-bottom: 2px solid #9b9b9b;
      }
    }
    &__button {
      margin: auto 200px;
      color: white;
      font-weight: 500;
      margin-top: 15px;
      padding: 15px 40px;
      border: none;
      background-color: rgba(242, 105, 49, 1);
      border-radius: 8px;
    }
  }
}

.form {
  &__label {
    border: none;
    background: transparent;
    border-bottom: 2px solid #9b9b9b;
  }
  &__weight {
    display: flex;
    >input, select {
    border: none;
    background: transparent;
    border-bottom: 2px solid #9b9b9b;
    }
    >select {
      background: #e2e2e2;
    }
  }
}